DATABASE_URL="postgres://postgres:Ffc2NXVDQko10uLD5EBxR4HFlE95zQ7i0NskQtNoWmGn9Q2v1GhpvklBm4daOxty@zdyqzccj2ht73kzk4evhpw5i:5432/postgres"
N8N_API_KEY="troque-essa-chave"
APP_URL="http://localhost:3000"